*{
    padding: 0px;

}
body {
      font-family: "Open Sans", sans-serif;
}

.navlogu img {
    width: 50px;
    height: 50px;
    border-radius: 20px;

}

.nabli li a {
    color: white;
  

}

.nabli li a:hover {
    color:rgb(85, 85, 194);
    font-size: 20px;
}

.shdow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}