*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body {
      font-family: "Open Sans", sans-serif;
}

/* nav menu design */
.navlogu img {
    width: 50px;
    height: 50px;
    border-radius: 20px;

}
.status {
    display: flex;
      position: sticky;
     top:0;
     z-index: 0;  
}

.nabli li a {
    color: white;
   

}

.nabli li a:hover {
    color:rgb(85, 85, 194);
    font-size: 20px;
}

.shdow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}     
/* nab design end  */


/* {baner design } */

.img-hgh {
    height: 550px;
}

 /* banner text style */
.text {
   top:0px;
   font-size: 25px;
   baseline-shift: red;
}   /*end*/



/* food sectio design  */

.food {
    margin-top: 30px;
    margin-bottom: 20px;
}
.heading {
    width: 30%;
   
    margin: auto;
}

.heading p {
    margin-bottom: 30px;
}



.named {
    height: 190px;
  
}
.card {
   padding: 5px 5px;
   border-radius: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-right: 20px;
}




/* contuct page , section style  */

.contact-heading {
    padding: 30px;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.image-contact img {
    border-radius: 20px;
}

.map-image img {
    width: 100%;
}



/* about page section card member design  */

.staf-heading {
    margin: auto;
    width:20%;

    margin-bottom: 50px;
    text-align: center;
}
.img-map {
    text-align: start;
    justify-content: start;
}

/* Gallay section  */
/* ================================ */

.container {
    margin-top: 50px;
    margin-bottom: 30px ;
}


.galary-title {
    width: 20%;
    margin: auto;
    margin-bottom: 40px;
}


.gallary-img img {
    height: 300px;
    transition: all .4 ease-in;

}


.gallary-img:hover {
    box-shadow: rgba(1, 1, 1, 0.28) 0px 3px 80px;
     transition: all .09 ease-in;
}


.gallary-img:hover.gallary-img img {
    filter: sepia(100%);
   

}



/* ====  Drream section / about section e   =====*/

.dream-section {
    margin-top: 30px;
}

.container {
  
    width: 1540px;
}


.card-title {
    width: 20%;
    margin: auto;
    margin-top: 20px;

}

.main {
    display: flex;
   
}

.dream-title {
    padding: 20px;
    width: 90%;
    font-size: 20px;
}
.dream-title .p1 {
    color:red;
}
.dream-title h1 {
    margin-bottom: 150px;
    font-weight: bolder;
   font-size: 40px;
}

.dream-img img:hover {
      box-shadow: rgba(1, 1, 1, 0.28) 0px 3px 80px;
     transition: all .09 ease-in;
     border-radius: 10px;
}


.ranking-1 {
    display: flex ;
    width: 90%;
        gap:50px;
   
    margin-top: 20px;
    text-align: start;
        margin-bottom: 30px;    
}
.ranking-1 .one {
 
   margin-right: 30px;
}
.ranking-2 {
    display: flex ;
    width: 90%;
        gap:50px;

    margin-top: 20px;
    text-align: start;
        margin-bottom: 30px;    
}
.ranking-2 .two {
       margin-right: 30px;
}




/*========== FAQ section working ========= */



/*  drop down menu section styles */

.title h1 {
    width: 40%;
    font-weight: bolder;
    font-size: 50px;
}

.dropdown {
    margin-bottom: 30px;
    
}
.dropdown a {
    padding: 2%;
}



.card-send i     {
  
    margin: auto;
   
    font-size: 40px;
}

.sectory {
    padding:10px 25px 10px 30px ;
   
}